
#wrapper {
  overflow-x: hidden;
}

button.menu-button {
  position: fixed;
  top: .5em;
  right: 1.25em;
  z-index: 999;
  opacity: .65;
  color: #111;
}
button.menu-button:hover {
  opacity: 1;
}
.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.min-cell-height {
  min-height: 400px;
}
.map.min-cell-height {
  height: 400px;
}

.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
  width: 100px;
  height: 100px;
  
  & .path {
    stroke: rgb(0, 101, 202);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
  
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
